// 原博客主提色
$tcolors:#97dffd;//按钮和标签颜色
$tcolorm:#64609E;//分类的选中的颜色
$tcolord:#48456D;//按钮hover 的颜色
$theme-color: #c1866a;
$vice-color: rgba(186,164,119,0.99);
$paper-color: #FFEAB1;
$theme-red-color: #db5640;
$pc-width: 767px;
$article-color: #f9f9f3;

// /***** 粉红色主题****/
// $tcolors:#97dffd;//按钮和标签颜色
// @tcolorm:#64609E;//分类的选中的颜色
// @tcolord:#48456D;//按钮hover 的颜色
//
// /******淡黄色主题*****/
// @tcolors:#97dffd;//按钮和标签颜色
// @tcolorm:#64609E;//分类的选中的颜色
// @tcolord:#48456D;//按钮hover 的颜色
//
// /****** 淡紫色主题 ****/
// @tcolors:#97dffd;//按钮和标签颜色
// @tcolorm:#64609E;//分类的选中的颜色
// @tcolord:#48456D;//按钮hover 的颜色